<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--first day learning-->
    <bean id="book1" class="secondDay.Book">
        <property name="name" value="百年孤独"/>
        <property name="author" value="不知道"/>
        <property name="publisher" value="歪果仁"/>

    </bean>

    <bean id="book2" class="secondDay.Book">
        <property name="name" value="百年孤独"/>
        <property name="author" value="不知道"/>
        <property name="publisher" value="歪果仁"/>

    </bean>
</beans>
